<div class="logo">
  <a routerLink="/inicio" class="simple-text logo-mini">
    <div class="logo-img">
      <img src="./assets/img/angular2-logo-white.png" />
    </div>
  </a>
  <a routerLink="/inicio" class="simple-text logo-normal">
    Agendamentos
  </a>
</div>
<div class="sidebar-wrapper">
  <ul class="nav">
    <li routerLinkActive="active" class="nav-item">
      <a routerLink="/inicio">
        <i class="fa fa-home"></i>
        <p>Início</p>
      </a>
    </li>
    <li routerLinkActive="active" class="nav-item">
      <a routerLink="/agendamentos">
        <i class="fa fa-calendar"></i>
        <p>Agendamentos</p>
      </a>
    </li>
    <li routerLinkActive="active" class="nav-item">
      <a routerLink="/clientes">
        <i class="fa fa-users"></i>
        <p>Clientes</p>
      </a>
    </li>
    <li routerLinkActive="active" class="nav-item">
      <a routerLink="/pendencias">
        <i class="fa fa-clipboard"></i>
        <p>Pendências</p>
      </a>
    </li>
    <li routerLinkActive="active" class="nav-item">
      <a routerLink="/usuarios">
        <i class="fa fa-user-plus"></i>
        <p>Usuários</p>
      </a>
    </li>
    <li routerLinkActive="active" class="nav-item">
      <a routerLink="/perfis">
        <i class="fa fa-vcard"></i>
        <p>Perfis</p>
      </a>
    </li>
  </ul>
</div>
