<div class="logo">
  <a routerLink="/inicio" class="simple-text logo-mini">
    <div class="logo-img">
      <img src="./assets/img/angular2-logo-white.png" />
    </div>
  </a>
  <a routerLink="/inicio" class="simple-text logo-normal">
    Agendamentos
  </a>
</div>
<div class="sidebar-wrapper">
  <ul class="nav">
    <li routerLinkActive="active" class="nav-item">
      <a routerLink="/inicio">
        <i class="fa fa-home"></i>
        <p>Início</p>
      </a>
    </li>
    <li routerLinkActive="active" class="nav-item">
      <a routerLink="/pendencia">
        <i class="fa fa-leaf"></i>
        <p>Pendências</p>
      </a>
    </li>
  </ul>
</div>
